.git
.github
.gitignore

infra
tasks
adr
docs
product
tracking

tests
var
vendor
node_modules

.env.local
.env.*.local

compose.yaml
compose.override.yml
Dockerfile
Dockerfile.prod
.dockerignore

public/assets
public/bundles

*.tfstate
*.tfstate.*
.terraform
