{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <section class="home-hero">
        <h1>Abomey</h1>
        <p>{{ 'home.tagline'|trans }}</p>
        <p><a href="{{ path('app_login') }}" role="button">{{ 'home.login'|trans }}</a></p>
    </section>
{% endblock %}
